.match-video-with-exercises-section {
  margin-left: 10%;
  padding-right: 30px;
}
.match-video-with-exercises-section__title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #b0bcc7;
}
.match-video-with-exercises-section__description {
  margin-right: 5%;
  margin-bottom: 30px;
  font-size: 14px;
  color: #b0bcc7;
}
.match-video-with-exercises-section__options .view-video-info {
  background-color: black;
  margin-left: 0;
  margin-right: 5%;
  border-radius: 5px;
}
.match-video-with-exercises-section__options .view-video-info__name-with-icon-eye {
  padding: 7px 12px 5px 0px;
  clear: both;
  display: inline-block;
  white-space: nowrap;
}
.match-video-with-exercises-section__options .view-video-info__name-with-icon-eye a {
  margin-left: 4px;
  margin-right: 5px;
  padding: 10px;
}
.match-video-with-exercises-section__options .view-video-info__name-with-icon-eye a .icon-eye {
  font-size: 15px;
  margin-top: 6px;
}
.match-video-with-exercises-section__options .view-video-info__name-with-icon-eye span {
  color: #b0bcc7;
}
.match-video-with-exercises-section__options .view-video-info__view-form {
  padding: 5px;
}
.match-video-with-exercises-section__options .view-video-info__view-form button {
  float: right;
  background-color: #727f8b;
  color: black;
}
.match-video-with-exercises-section__options .view-video-info__view-form button :hover {
  cursor: pointer;
  background-color: #797878;
}
.match-video-with-exercises-section__options .plain-text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #b0bcc7;
  font-style: italic;
}
.match-video-with-exercises-section__options .search-bar {
  margin-right: 10%;
}
.match-video-with-exercises-section__options .add-new-exercise {
  margin-right: 10%;
  margin-bottom: 30px;
}
.match-video-with-exercises-section__options .add-new-exercise button {
  background-color: transparent;
  color: #b0bcc7;
}
.match-video-with-exercises-section__options .add-new-exercise button:hover {
  color: black;
  background-color: #faad14;
}

.video-thumbnail-section {
  margin-left: 10%;
}
.video-thumbnail-section__title {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
  color: #86919c;
}
.video-thumbnail-section__video-name {
  font-size: 27px;
  font-weight: bold;
  color: #b0bcc7;
  margin-bottom: 10px;
}
.video-thumbnail-section__description {
  font-size: 12px;
  margin-bottom: 8px;
  color: #86919c;
}
.video-thumbnail-section__image img {
  width: 100%;
  max-width: 280px;
  max-height: 250px;
  border: 1px solid #252424;
  border-radius: 5px;
}
.video-thumbnail-section__img-upload-btn button {
  background-color: #727f8b;
  margin-top: 15px;
  margin-bottom: 17px;
  padding: 5px;
  color: black;
}
.video-thumbnail-section__img-upload-btn button input {
  display: none;
}

.form-exercise {
  margin-left: 10%;
  padding-right: 30px;
  color: #b0bcc7;
}
.form-exercise__button-back button {
  padding: 8px 20px 8px 20px;
  margin-bottom: 25px;
  margin-top: 10px;
  background-color: #0e0f10;
  border: 0;
}
.form-exercise__exercise-name {
  color: #b0bcc7;
  font-size: 25px;
  font-weight: bold;
}
.form-exercise__inputs .form-inputs {
  background-color: rgba(1, 10, 16, 0.65);
  border-style: none;
  color: #FFF;
}
.form-exercise__inputs .form-inputs-checkbox {
  clear: both;
  display: inline-block;
  white-space: nowrap;
}
.form-exercise__inputs .form-check-input {
  background-color: rgba(1, 10, 16, 0.65);
}
.form-exercise__inputs-button-submit {
  float: right;
}
.form-exercise__inputs-button-submit button {
  padding: 5px 40px 5px 40px;
  margin-bottom: 20px;
  background-color: #0a5c36;
}

.video-updating-app-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(800deg, #727f8b 50%, #14213d 50%);
  justify-content: center;
  overflow-y: auto;
  padding: 5% 0px 5% 0px;
  display: flex;
}

.video-updating-app {
  padding: 15px;
  box-shadow: 3px 3px 5px rgba(8, 71, 153, 0.185);
}
.video-updating-app__header--left {
  background-color: #000000;
}
.video-updating-app__header--right {
  background-color: #001e3c;
}
.video-updating-app__header--right p {
  float: right;
  font-size: 20px;
  padding: 12px 12px 12px 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  border: 1px solid #000000;
  box-shadow: 2px 2px 5px #161414;
  border-radius: 5px;
  color: #c5ced6;
  background-color: #05264ee3;
}
.video-updating-app__body--left {
  background-color: #000000;
  border-top: 1px solid #041220;
}
.video-updating-app__body--right {
  background-color: #001d3d;
}
.video-updating-app__footer {
  background-color: #001d3d;
  border-top: 6px solid #000000;
}
.video-updating-app__footer--skip {
  padding: 20px 50px 20px 30px;
}
.video-updating-app__footer--skip button {
  color: #b0bcc7;
  background-color: transparent;
  border: 2px solid #b0bcc7;
  font-size: 18px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 10%;
}
.video-updating-app__footer--next {
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  position: relative;
}
.video-updating-app__footer--next button {
  position: static;
  float: right;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 20px;
  padding-left: 60px;
  padding-right: 60px;
}
.video-updating-app__footer--next button:hover {
  background-color: #e5e5e5;
  color: #000000;
  border: 0px;
}
.video-updating-app__footer--delete {
  padding: 30px 50px 23px 30px;
}
.video-updating-app__footer--delete button {
  color: #fff;
  font-size: 16px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 10%;
}

.exercise-search-bar-wrapper {
  background-color: #e5e5e5;
  padding: 5px 12px 5px 12px;
  border-radius: 5px;
  color: white;
  border: 2px solid #000000;
  box-shadow: 5px 5px 8px #1a1a1a;
}

@media screen and (max-width: 767px) {
  .video-updating-app__footer--skip {
    padding: 16px 50px 20px 30px;
  }
  .video-updating-app__footer--skip button {
    margin-left: 20%;
  }
}

/*# sourceMappingURL=main.css.map */
