.form-add-new-exercise {
    margin-left: 10%;
    padding-right: 30px;
}

.form-inputs {
    background-color: #1a1a1a; 
    border-style: none; 
    color: #FFF;
}
.form-inputs-checkbox {
  color: #1a1a1a;
}