.form-exercise {
    margin-left: 10%;
    margin-right: 10%;
    color: #b0bcc7;

    &__title {
        margin-top: 10px;
        font-size: 12px;
        margin-bottom: 10px;
        color: #86919c;
    }

    label {
        font-size: 12px;
        color: #b0bcc7;
    }

    input {
        height: 30px;
        font-size: 12px;
    }
    input::placeholder {
        font-size: 12px;
    }
    input:active {
        background-color: #727f8b;
    }

    &__button-back {
        button {
            padding: 6px 18px 6px 18px; 
            margin-bottom: 10px;
            background-color: #0e0f10;
            border: 0;
        }
        button:hover {
            background-color: #727f8b;
        }
    }
    &__exercise-name {
        color: #b0bcc7; 
        font-size: 20px; 
        font-weight: bold;
    }
    &__inputs {
        .form-inputs {
            background-color: black; 
            border-style: none; 
            color: #FFF;
        }
        .form-inputs-checkbox {
                clear: both;
                display: inline-block;
                white-space: nowrap;
        }
        .form-check-input {
            background-color: black; 
        }
        .form-check-label {
            color: #b0bcc7;
        }
    }
    &__button-container {
        &--button-submit {
            //float:right; 
            button {
                padding: 5px 5% 5px 5%;
                margin-bottom: 20px;
                //margin-left: 10px;
                background-color: #0a5c36;
                font-size: 12px;
                width: 100%;
            }
        }

        &--button-back {
            button {
                background-color: transparent;
                padding: 5px 5% 5px 5%;
                margin-bottom: 20px;
                // margin-right: 10px;
                font-size: 12px;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .form-exercise {
        &__button-back {
            button {
                margin-top: 10px;
            }
        }
    }
}



