// import styles of other sub-components
@import 'match-video.scss';
@import 'video-thumbnail.scss';
@import 'form-exercise.scss';

// color variables
$color-primary: #fff;
$bg-dark-gray: #2e2e2e;
$bg-light-gray: #434343;

.video-uploading-app {
    color: $color-primary;
    background-color: #1a1a1a;
    min-height: 100vh;
    padding: 10px;
    margin: 0;

    &__container {
        width: 100%;
        height: 100%;

        &-header {
            background-color: $bg-dark-gray;
            padding: 50px;
            margin-right: 20px;
            margin-left: 20px;
            p {
                float: right;
                font-size: 20px;
            }
        }
        &-body {
            padding-left: 20px;
            padding-right: 20px;
            &--left {
                background-color: $bg-dark-gray; 
                padding: 20px;
            }
            &--right {

                background-color: $bg-dark-gray;
                padding: 20px;
            }
        }
        &-footer {
            background-color: #585858d1;
            border-top: 15px solid $bg-dark-gray;
            margin-right: 20px;
            margin-left: 20px;
            
            &--skip {
                padding: 40px 50px 40px 60px;
                button {
                    font-size: 20px;
                    padding-left: 60px;
                    padding-right: 60px;
                }
            }

            &--next {
                padding-top: 50px; 
                padding-right: 50px;
                padding-bottom: 50px;
                position: relative;
                button {
                    position: static;
                    float: right;
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    font-size: 20px;
                    padding-left: 60px;
                    padding-right: 60px;
                }
                
            }

            &--delete {
                padding: 40px 50px 40px 60px;
                button {
                    font-size: 20px;
                    padding-left: 60px;
                    padding-right: 60px;
                }
            }
        }
    }
}


.exercise-search-bar-wrapper {
    background-color: rgb(196, 196, 196);
    padding: 20px;
}

