// color variables
@import 'match-video.scss';
@import 'video-thumbnail.scss';
@import 'form-exercise.scss';

$color-primary: #fff;
$bg-dark-gray: #2e2e2e;
$bg-light-gray: #434343;

.video-uploading-app {
    color: $color-primary;
    background-color: #1a1a1a;
    min-height: 100vh;
    padding: 10px;
    margin: 0;

    &__container {
        width: 100%;
        height: 100%;

        &-header {
            background-color: $bg-dark-gray;
            padding: 50px;
            margin-right: 20px;
            margin-left: 20px;
            p {
                float: right;
                font-size: 20px;
            }
        }
        &-body {
            padding-left: 20px;
            padding-right: 20px;
            &--left {
                background-color: $bg-dark-gray; 
                padding: 20px;
            }
            &--right {

                background-color: $bg-dark-gray;
                padding: 20px;
            }
        }
        &-footer {
            background-color: #585858d1;
            border-top: 15px solid $bg-dark-gray;
            margin-right: 20px;
            margin-left: 20px;
            
            &--skip {
                padding: 40px 50px 40px 60px;
                button {
                    font-size: 20px;
                    padding-left: 60px;
                    padding-right: 60px;
                }
            }

            &--next {
                padding-top: 50px; 
                padding-right: 50px;
                padding-bottom: 50px;
                position: relative;
                button {
                    position: static;
                    float: right;
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    font-size: 20px;
                    padding-left: 60px;
                    padding-right: 60px;
                }
                
            }

            &--delete {
                padding: 40px 50px 40px 60px;
                button {
                    font-size: 20px;
                    padding-left: 60px;
                    padding-right: 60px;
                }
            }
        }
    }
}

// when screen size is > 950px
@media only screen and (min-width: 950px) {

    .video-uploading-app {
        color: $color-primary;
        background-color: #1a1a1a;
        min-height: 100vh;
        padding: 100px 80px 50px 80px;
        margin: 0;
    
        &__container {
            width: 100%;
            height: 100%;
        }
    }

    .video-uploading-app__container {
        &-body {
            display: flex;
            flex-direction: row;
            padding-left: 20px;
            padding-right: 20px;

            &--left {
                background-color: $bg-dark-gray;
                width: 40%;
                padding: 20px;
            }
            &--right {
                border-left: 2px solid #585858d1;
                width: 60%;
                background-color: $bg-dark-gray;
                padding: 20px;
            }
        }
    }

}

// following changes will be applied only when screen size is < 950px (mobile mode) 
@media only screen and (max-width: 950px) {
    .video-uploading-app__container {
        &-body {
            &--right {
                border-top: 2px solid #585858d1;
            }
        }
        &-footer {           
            &--skip {
                padding: 40px 50px 40px 80px;
            }
        }
    }
}

.exercise-search-bar-wrapper {
    background-color: rgb(196, 196, 196);
    padding: 20px;
}

