.match-video-with-exercises-section {
    margin-left: 10%;
    // padding-right: 16px;
    font-size: 12px;

    &__title {
        margin-top: 25px;
        margin-bottom: 10px;
        color: #b0bcc7;
    }

    &__description {
        margin-right: 10%; 
        margin-bottom: 20px; 
        font-weight: 100;
        color: #b0bcc7;
    }
    &__options {
        .view-video-info {
            background-color: black;
            margin-left: 0;
            margin-right: 10%;
            border-radius: 5px;
            
            &__name-with-icon-eye {
                padding: 5px;
                margin: 5px;
                clear: both;
                display: inline-block;
                white-space: nowrap;
                a {
                    margin-left: 4px;
                    margin-right: 12px;
                }
                span {
                    color: #b0bcc7;
                }
            }
            
            &__view-form {
                padding: 5px;
                button {
                    float: right; 
                    background-color: #727f8b;
                    color: black;
                    font-size: 12px;
                }
                button:hover {
                    background-color: transparent;
                    color: #b0bcc7;
                }
            }
        }

        .view-searched-exercise {
            margin-top: 21px;
            margin-right: 0%;
            margin-left: 0%;
            background-color: black;
            border-radius: 5px;
        }

        .plain-text {
            margin-top: 20px;
            margin-bottom: 20px;
            color: #b0bcc7;
            font-style: italic;
        }

        .search-bar {
            margin-right: 10%;
        }

        .add-new-exercise {
            margin-right: 10%;
            margin-bottom: 20px;
            button {
                background-color: transparent;
                color: #b0bcc7;
                width: 100%;
                font-size: 12px;
            }
            button:hover {
                color: white;
                background-color: #727f8b;
            }
        }
    }
}

