.video-thumbnail-section {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 12px;
    //border-top: 2px solid #041220;
    
    &__title {
        color: #86919c;
        margin-top: 10px;
        margin-bottom: 1px;
        font-size: 12px;
    }
    &__sub-title {
        font-size: 12px;
        color: #86919c;
        margin-bottom: 1px;
    }
    &__video-name {
        color: #b0bcc7;
        margin-bottom: 1px;
        font-size: 22px;
        font-weight: 600;
    }
    &__description {
        color: #86919c;
        margin-bottom: 1px;
        font-weight: 200;
    }
    &__image {
        img {
            width: 100%; 
            max-width: 280px; 
            max-height: 160px;
            border: 1px solid rgb(37, 36, 36);
            border-radius: 4px;
        }
    }
    &__img-upload-btn {
        button {
            background-color: transparent;
            color: #b0bcc7;
            margin-top: 10px;
            margin-bottom: 20px;
            padding: 4px;
            font-size: 12px;
            input {
                display: none;
            }
        }
    }
    &__delete-btn {
        button {
            padding: 4px 15px;
            font-size: 12px;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
}
